<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>huynm.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>huynm.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>huynm.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>huynm.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>huynm.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishController</servlet-name>
        <servlet-class>huynm.controller.FinishController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>huynm.controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecreaseCartController</servlet-name>
        <servlet-class>huynm.controller.DecreaseCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncreaseCartController</servlet-name>
        <servlet-class>huynm.controller.IncreaseCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>huynm.controller.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>huynm.controller.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookController</servlet-name>
        <servlet-class>huynm.controller.DeleteBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookController</servlet-name>
        <servlet-class>huynm.controller.UpdateBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBookController</servlet-name>
        <servlet-class>huynm.controller.ReturnBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindOrderController</servlet-name>
        <servlet-class>huynm.controller.FindOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeBookBackController</servlet-name>
        <servlet-class>huynm.controller.TakeBookBackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBookController</servlet-name>
        <servlet-class>huynm.controller.InsertBookController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishController</servlet-name>
        <url-pattern>/FinishController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecreaseCartController</servlet-name>
        <url-pattern>/DecreaseCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncreaseCartController</servlet-name>
        <url-pattern>/IncreaseCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/CreateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookController</servlet-name>
        <url-pattern>/DeleteBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookController</servlet-name>
        <url-pattern>/UpdateBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBookController</servlet-name>
        <url-pattern>/ReturnBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindOrderController</servlet-name>
        <url-pattern>/FindOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeBookBackController</servlet-name>
        <url-pattern>/TakeBookBackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBookController</servlet-name>
        <url-pattern>/InsertBookController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
